
label{
    display: block;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left:40% ;
    font-size: 20px;
}
input{
    display: block;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-bottom: 20px;
    border: 2px solid black;
}
.user{
    padding-top: 40px;
    padding-left: 40px;   
    overflow: hidden;
}

.col{
    float: left;
    width: 30%;
}

.btn{
    display: flex;
    width: 100%;
    margin-left: 25%;
}

input[type="submit"]{
 width: 5%;
 margin: 1%;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 25px;
}

